<table>
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Формат</th>
            <th>Тип</th>
            <th>Целевая аудитория</th>
        </tr>
    </thead>
    <tdbody>
    {% for m in object_list %}
        <tr>
            <td><a href="{% url 'material_detail' m.id %}">{{ m.title }}</a></td>
            <td>{{ m.get_format_display|default:"" }}</td>
            <td>{{ m.get_type_display|default:"" }}</td>
            <td>{{ m.target_group.all|join:", " }}</td>
        </tr>

    {% endfor %}
    </tdbody>
 <table>