{% extends 'agit_material/base.html' %}


{% block content %}
    <h3>{{object.title }}</h3>
    {{ object.tags }}<br>
    <img src="{{ object.image.url }}" height=250><br>

    Формат: {{ object.get_format_display|default:"---" }}<br>
    Тип: {{ object.get_type_display|default:"---" }}<br>
    Целевая аудитория: {{ object.target_group.all|join:", " }}<br>
    <br><br>

    Описание:<br>
        {{ object.description }}
    <br><br>

    Инструкция:<br>
        {{ object.description }}
    <br><br>

    Файлы:<br>
    {% for f in object.files.all %}
        <a href="{{ f.file.url }}">{{ f.file_name }}</a>
        {{ f.description }}<br>
    {% endfor %}
    <br><br>

    Рисунки:<br>
    {% for p in object.pictures.all %}
        {{ p.title }}<br>
        <a href="{{ p.image.url }}">{{ p.image.url }}</a>
        {{ p.tags }}<br>
    {% endfor %}

{% endblock %}