<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <div class="content">
        {% block content %}{% endblock %}

    </div>

</body>



</html>