{% if paginator.num_pages > 1 %}
	<ul class="pagination">
		{% if page_obj.has_previous %}
		    <li><a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
		{% endif %}
	
	
		{% for n in paginator.page_range %}
			{% if n == page_obj.number %}
				<li class="active"><span>{{ n }}</li>
			{% else %}
				<li><a href="?{{ query_string }}&page={{ n }}">{{ n }}</a></li>
			{% endif %}
		{% endfor %}
	
	
		{% if page_obj.has_next %}
		    <li><a href="?{{ query_string }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	
	</ul>
{% endif %}