{% extends 'agit_material/base.html' %}



{% block content %}

    <form action="" method="get">
        {# csrf_token #}
        {{ form.as_p }}
        <input type="submit" value="Поиск">
    </form>

    <br>
    {% include 'agit_material/blocks/_atigmaterial_list.html' %}
    <br>
    Всего {{ paginator.count }}<br>
    {% include "agit_material/pagination.html" %}

    <br><br>
    Картинки по вашему запросу:
    {% include 'agit_material/blocks/_pictures.html' %}
    <a href="">поиск по картинкам</a>

{% endblock %}